.btn{
    @include border-radius(20px);
    padding: .375rem 1.5rem;
    font-size: .9rem;
}

.btn-primary{
    background-color: $purple;
    border: $purple;
    &:hover{
        background-color: #8500b1;
        border: #8500b1;
    }
    &:active{
        background-color: #8500b1;
        border: #8500b1;
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #8500b1;
    border: #8500b1;
}

.btn-danger{
    background-color: $red;
    border:$red;
}

.btn-warning{
    background-color: $yellow;
    border:$yellow;
    &:hover{
        background-color: #d38d02;
        border: #d38d02;
    }
}

.btn-ghost{

    color: $white;
    background-color: none;
    border-color: $white;
    &:hover{
        background-color: $white;
        color: $black;
    }
}

.btn-black{
    color: $black;
    background-color: none;
    border-color: $black;
    &:hover{
        background-color: $black;
        color: $white;
    }
}
