$white: #FFF;
$black:#000;
$gray:#4a4a49;
$gray-light:#d4d4d4;
$bodyBg: #FFF2C0;

$yellow:#ffb114;
$yellow-light:#ffedaa;
$yellow-variant: #ff4200;

$blue: #018ef8;
$blue-light:#8DD8F8;
$blue-darken:#21497c;

$green: #00ded3;
$green-light: #41fcf2;
$green-darken: #008d86;

$red: #e50064;
$purple: #b600f3;

.text-white{
    color: $white;;
}

.text-black{
    color:$black;
}

.text-gray{
    color:$gray;
}

.text-blue{
    color: $blue;
}

.text-blue-darken{
    color: $blue-darken;
}

.text-yellow{
    color: $yellow;
}

.text-yellowVariant{
    color: $yellow-variant;
}

.text-yellowLignt{
    color: $yellow-light;
}

.text-purple{
    color: $purple;
}

.text-green{
    color: $green;
}
.text-green-darken{
    color: $green-darken;
}


.text-red{
    color: $red;
}
.text-purple{
    color: $purple;
}

.bgWhite{
    background: $white;
    @extend .text-black;
}

.bgBlue{
    background: $blue;
    @extend .text-white;
}

.bgBlack{
    background: $black;
    @extend .text-white;
}

.bgRed{
    background: $red;
    @extend .text-white;
}

.bgYellow{
    background: $yellow;
    @extend .text-black;
}

.bgYellowsVariant{
    background: $yellow-variant;
    @extend .text-black;
}

.bgPurple{
    background: $purple;
    @extend .text-white;
}

.bgGreen{
    background: $green;
    @extend .text-white;
}
.bgGreenDarken{
    background: $green-darken;
    @extend .text-white;
}



