.card-curso{

    border: 1px solid #d4d4d4 !important;
    margin-bottom: 20px;
    &:hover{
        box-shadow: 0px 0px 10px rgba(155, 155, 155, 0.75);
    }

    .card-img-top{
        height: 200px;
    }

    .card-cursoImg--modalidade{
        position: absolute;
        left: -14px;
        top: 10px;
    }

    .card-cursoImg--badge{
        position: absolute;
        right: 15px;
        top: 150px;
        .badge{
            padding: 7px;
            background-color: $yellow-variant;
            font-size: small;
        }
        &:hover{
            opacity: .85;
        }
    }

    .card-body{
        .card-title {
            font-size: 0.95rem;
            height: 58px;
        }
        .card-bodyImg{
            margin-top: 10px;
            height: 50px;
            margin-bottom: 15px;
            overflow: hidden;
            img{
                height: 42px;
            }
        }
    }
}

.s-init{

    .s-init__content{
        border-bottom: 1px solid $gray;
        padding-bottom: 10px;
        .s-init__content--title{
            font-size: 2.0rem;
        }

        .s-init__content--social{
            a{
                margin-right: 10px;
                &:last-child{
                    margin-right: 0px;
                }
                &:hover{
                    text-decoration: none;
                }
            }

            i{
                @include border-radius(50%);
                background: $white;
                padding: 10px;
                font-size: large;
            }
            i.fa-whatsapp{
                background: $green;
                color: $white;
                &:hover{
                    @include transition(background-color .4s, color .4s);
                    background: $white;
                    color: $green;
                    @include box-shadow(1px, 1px, 10px, $gray-light, false );
                }
            }
            i.icon-social-twitter{
                background: $blue-light;
                color: $white;
                &:hover{
                    @include transition(background-color .4s, color .4s);
                    background: $white;
                    color: $blue-light;
                    @include box-shadow(1px, 1px, 10px, $gray-light, false );
                    text-decoration: none;
                }
            }

            i.icon-social-facebook {
                background: $blue;
                color: $white;
                &:hover{
                    @include transition(background-color .4s, color .4s);
                    background: $white;
                    color: $blue;
                    @include box-shadow(1px, 1px, 10px, $gray-light, false );
                    text-decoration: none;
                }
            }
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

.s-curso{

    .s-curso__content{

        p{
            font-size: large;
            .s-curso__content--infoData{
                border-bottom: 4px solid $white;
            }
        }
        .s-curso__content--blockImg{
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 476px;
            .s-curso__content--img{
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%;
            }
        }

        .s-curso__content--badge{
            position: absolute;
            right: 10px;
            top: 20px;
            font-size: large;
            &:hover{
                opacity: .75;
            }
        }

        .card{
            .card-bodyImg{
                margin-top: 4px;
                margin-left: 10px;
                height: 60px;
                overflow: hidden;
                img{
                    height: 50px;
                }
            }
            .card-body{
                padding-top: 0px;
            }
        }
    }
}

.s-contentCursos{

    form{

        i{
            position: absolute;
            margin-top: 10px;
            margin-left: 10px;
            cursor: pointer;
            color: $gray;
        }
        input{
            text-indent: 15px;
        }
    }

    .cards__page--curso{
        .card-body{
            .card-text{
                height: 45px;
                overflow: hidden;
            }
        }
    }
}
